<div class="navegacao">
    <a href="/musica/jazz">Jazz</a>
    <a href="/musica/pop">Pop</a>
    <a href="/musica/rock">Rock</a>
    <a href="/musica/funk">Funk</a>
    <a href="/musica/reggae">Reggae</a>
</div>