<%- include('./header/header')%>

<br>
<br>
<br>

    <div class="titulo">
        <h1>Basquete</h1>
        <p>Aqui você encontrará informações sobre o Basquete.</p>
    </div>
    <br>
    <div class="caixa">
        <h2>Origens do Basquete</h2>
        <p>O basquete foi inventado por James Naismith em 1891, nos Estados Unidos. Ele desenvolveu o jogo como uma forma de manteros
        <br>alunos ativos durante o inverno.</p>
    </div>

    <div class="caixa">
        <h2>Popularização Mundial</h2>
        <p>O basquete cresceu rapidamente e se tornou um dos esportes mais populares do mundo, com ligas profissionais em vários países
        <br>e uma forte presença olímpica.</p>
    </div>

    <div class="caixa">
        <h2>NBA</h2>
        <p>A NBA (National Basketball Association), fundada em 1946, é a liga profissional de basquete mais famosa e influente do mundo,
        <br>com jogadores de todo o planeta.</p>
    </div>
    
    <%- include('./footer/footer')%>
</body>
</html>
    
