extends layout

block content
  h1= title
  p Aqui você encontrará informações sobre a #{title}.

  .historia
    h2 Origens do Basquete
    p O basquete foi inventado por James Naismith em 1891, nos Estados Unidos. Ele desenvolveu o jogo como uma forma de manter os alunos ativos durante o inverno.

  .historia
    h2 Popularização Mundial
    p O basquete cresceu rapidamente e se tornou um dos esportes mais populares do mundo, com ligas profissionais em vários países e uma forte presença olímpica.

  .historia
    h2 NBA
    p A NBA (National Basketball Association), fundada em 1946, é a liga profissional de basquete mais famosa e influente do mundo, com jogadores de todo o planeta.

  style.
    h1 {
      color: #333;
    }
    .historia {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    h2 {
      color: #333;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: #666;
    }
