<%- include('./header/header')%>

    <h1>Contato</h1>
    <p>Contato</p>

    <div class="info-contato">
        <h2>Informações de Contato</h2>
        <p>Estamos localizados na Rua dos Esportes, 123, Cidade do Esporte, Estado. Você também pode nos contatar pelo telefone (XX) XXXX-XXXX ou pelo e-mail contato@curiosidadesesportivas.com.</p>
    </div>

    <div class="form-contato">
        <h2>Formulário de Contato</h2>
        <form action="#" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <%- include('./footer/footer')%>
</body>
</html>