<%- include('./header/header')%>

<main>
    <br>
    <br>
    <br>

    <div class="titulo">
        <h2>Informações de <%= title %></h2>
        <p>Estamos localizados na Rua dos Esportes, 123, Cidade do Esporte, Estado. Você também pode nos contatar pelo telefone (XX) XXXX-XXXX ou pelo e-mail contato@curiosidadesesportivas.com.</p>
    </div>
    <br>

    <div class="titulo">
        <p>Mande uma mensagem para nós!</p>
    </div>
    <div class="container" style="padding: 20px; border-radius: 10px; color: white; background-color: rgb(48, 48, 48); width: 40vw;">
    <form action="/action_page.php">
        <div class="mb-3">
          <label for="pwd" class="form-label">Nome:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Digite seu nome" name="pswd">
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
          </div>
        <label for="comment">Comentários:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        <br>
        <button type="submit" class="btn btn-danger">Enviar</button>
      </form>
    </div>

    <%- include('./footer/footer')%>
</main>
</body>
</html>