extends layout

block content
  h1= title
  p #{title}

  .info-contato
    h2 Informações de Contato
    p Estamos localizados na Rua dos Esportes, 123, Cidade do Esporte, Estado. Você também pode nos contatar pelo telefone (XX) XXXX-XXXX ou pelo e-mail contato@curiosidadesesportivas.com.

  .form-contato
    h2 Formulário de Contato
    form(action="#", method="POST")
      label(for="nome") Nome:
      input(type="text", id="nome", name="nome", required)

      label(for="email") Email:
      input(type="email", id="email", name="email", required)

      label(for="mensagem") Mensagem:
      textarea(id="mensagem", name="mensagem", rows="4", required)

      button(type="submit") Enviar

  style.
    h1 {
      color: #333;
    }
    .info-contato, .form-contato {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    h2 {
      color: #333;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: #666;
    }
    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background-color: #45a049;
    }
