<%- include('./header/header')%>

    <h1>Esportes</h1>
    <p>Bem-vindo ao nosso site sobre esportes!</p>

    <div class="historia-esportes">
        <h2>História dos Esportes</h2>
        <p>Os esportes têm uma longa história que remonta aos tempos antigos, quando eram praticados como forma de competição e entretenimento.</p>
    </div>

    <div class="importancia-esportes">
        <h2>Importância dos Esportes</h2>
        <p>A prática esportiva não apenas promove a saúde física, mas também ensina valores como trabalho em equipe, disciplina e resiliência.</p>
    </div>

    <div class="beneficios-saude">
        <h2>Benefícios para a Saúde</h2>
        <p>Praticar esportes regularmente ajuda a melhorar a condição física, reduzir o estresse, aumentar a autoestima e promover um estilo de vida saudável.</p>
    </div>
    
</body>
</html>
