extends layout

block content
  h1= title
  p Bem-vindo ao nosso site sobre esportes!

  .historia-esportes
    h2 História dos Esportes
    p Os esportes têm uma longa história que remonta aos tempos antigos, quando eram praticados como forma de competição e entretenimento.

  .importancia-esportes
    h2 Importância dos Esportes
    p A prática esportiva não apenas promove a saúde física, mas também ensina valores como trabalho em equipe, disciplina e resiliência.

  .beneficios-saude
    h2 Benefícios para a Saúde
    p Praticar esportes regularmente ajuda a melhorar a condição física, reduzir o estresse, aumentar a autoestima e promover um estilo de vida saudável.


    style.
      h1 {
        color: #333;
      }
      .historia-esportes, .importancia-esportes, .beneficios-saude, .contato {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
        text-align: left;
      }
      h2 {
        color: #333;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: #666;
      }