<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>

    <br>
    <br>
    <br>

    <div class="titulo">
        <h1>Funk</h1>
        <p>Explorando o ritmo, o groove e a irreverência do Funk.</p>
    </div>
    <br>

    <div class="caixa">
        <h2>Origens</h2>
        <p>O Funk nasceu nos anos 1960 e 1970, principalmente entre músicos afro-americanos, com ênfase no ritmo forte e na percussão.</p>
    </div>

    <div class="caixa">
        <h2>Inovações Musicais</h2>
        <p>Artistas como James Brown e Sly and the Family Stone foram pioneiros em transformar o Funk em uma experiência musical intensamente dançante e socialmente consciente.</p>
    </div>

    <div class="caixa">
        <h2>Influência Cultural</h2>
        <p>O Funk influenciou o desenvolvimento do hip-hop, da música eletrônica e continuou a ser uma força vibrante na música popular até os dias atuais.</p>
    </div>

    <%- include('./footer/footer') %>
    </body>
    </html>