extends layout

block content
  h1= title
  p Aqui você encontrará informações sobre a #{title}.

  .historia
    h2 Origens do Futebol
    p O futebol moderno como conhecemos hoje tem suas origens na Inglaterra do século XIX, onde regras foram formalizadas para padronizar o jogo.

  .historia
    h2 Expansão Global
    p O futebol se espalhou rapidamente pelo mundo, tornando-se o esporte mais popular em muitos países, com ligas profissionais e competições internacionais.

  .historia
    h2 Copa do Mundo FIFA
    p A Copa do Mundo FIFA, iniciada em 1930, é o principal torneio internacional de futebol, reunindo seleções nacionais de todo o mundo a cada quatro anos.

  style.
    h1 {
      color: #333;
    }
    .historia {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    h2 {
      color: #333;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: #666;
    }
