<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Futebol</h1>
    <p>Aqui você encontrará informações sobre a <%= title %>.</p>

    <div class="historia">
        <h2>Origens do Futebol</h2>
        <p>O futebol moderno como conhecemos hoje tem suas origens na Inglaterra do século XIX, onde regras foram formalizadas para padronizar o jogo.</p>
    </div>

    <div class="historia">
        <h2>Expansão Global</h2>
        <p>O futebol se espalhou rapidamente pelo mundo, tornando-se o esporte mais popular em muitos países, com ligas profissionais e competições internacionais.</p>
    </div>

    <div class="historia">
        <h2>Copa do Mundo FIFA</h2>
        <p>A Copa do Mundo FIFA, iniciada em 1930, é o principal torneio internacional de futebol, reunindo seleções nacionais de todo o mundo a cada quatro anos.</p>
    </div>


</body>
</html>
    