<%- include ('./header/cabecalho')%>

    <main>
        <div id="cont">
            <div class="barra">
                <div class="icons">
                    <a href="/perfil" class="comp"><img src="/imagens/Component 3.png" alt="perfil" class="component">
                        <p>Perfil</p>
                    </a>
                </div>

                <div class="icons">
                    <a href="/treinos" class="comp"><img src="/imagens/Component 4.png" alt="treino" class="component">
                        <p>Treino</p>
                    </a>
                </div>

                <div class="icons">
                    <a href="/playlist" class="comp"><img src="/imagens/Component 2.png" alt="playlist" class="component">
                        <p>Playlist</p>
                    </a>
                </div>
            </div>
        </div>
    </main>

<%- include ('./footer/rodape')%>
</body>
</html>