<main>

<%- include('./header/header')%>


    <br>
    <br>
    <br>

    <div class="titulo">
        <h1><%= title %></h1>
        <p>A sua melhor página web da internet.</p>
    </div>
    <br>
    <div class="caixa">
        <h2>Esporte</h2>
        <p>O esporte é muito mais do que simplesmente uma atividade física; é uma paixão que transcende culturas, idiomas e fronteiras.
        <br>Desde os tempos antigos até os dias de hoje, o esporte tem desempenhado um papel fundamental na sociedade, moldando não apenas corpos,
        <br>mas também mentes e espíritos.</p>
    </div>

    <div class="caixa">
        <h2>Música</h2>
        <p>A música é muito mais do que simplesmente uma forma de arte; é uma linguagem universal que transcende culturas, idiomas e fronteiras.
        <br>Desde os tempos antigos até os dias de hoje, a música tem desempenhado um papel fundamental na sociedade, moldando não apenas emoções,
        <br>mas também identidades e comunidades.</p>
    </div>

    <div class="caixa">
        <h2>Cultura</h2>
        <p>A música é um reflexo da cultura e da história de um povo, transmitindo tradições, valores e histórias através das gerações.
        <br>Ela une as pessoas, criando laços de identidade e pertencimento, ao mesmo tempo em que celebra a diversidade de estilos
        <br>e expressões ao redor do mundo.</p>
    </div>

    <div class="caixa">
        <h2>Saúde</h2>
        <p>Praticar esportes não só promove um estilo de vida ativo e saudável, mas também traz uma série de benefícios físicos,
        <br>mentais e sociais que contribuem para o bem-estar geral.</p>
        <p>Ouvir e praticar música não só promove uma experiência emocional rica, mas também traz uma série de benefícios físicos,
        <br>mentais e sociais que contribuem para o bem-estar geral. Estudos mostram que a música pode reduzir o estresse, melhorar o humor,
        <br>aumentar a motivação e até mesmo ajudar na recuperação de doenças. Ela também promove habilidades cognitivas e sociais, como concentração,
        <br>memória e trabalho em equipe.</p>
    </div>

    <%- include('./footer/footer')%>
</main>
</body>
</html>
