<%- include('./header/header')%>

    <br>
    <br>
    <br>

    <div class="titulo">
        <h1>Bem-Vindo</h1>
        <p>A sua melhor página web da internet.</p>
    </div>
    <br>
    <div class="caixa">
        <h2>Esporte</h2>
        <p>O esporte é muito mais do que simplesmente uma atividade física; é uma paixão que transcende culturas, idiomas e fronteiras. Desde os tempos antigos até os dias de hoje, o esporte tem desempenhado um papel fundamental na sociedade, moldando não apenas corpos, mas também mentes e espíritos.</p>
    </div>

    <div class="caixa">
        <h2>Saúde</h2>
        <p>Praticar esportes não só promove um estilo de vida ativo e saudável, mas também traz uma série de benefícios físicos, mentais e sociais que contribuem para o bem-estar geral.</p>
    </div>

    <%- include('./footer/footer')%>
</body>
</html>
