<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>title</h1>
    <p>A sua melhor página web sobre esportes.</p>

    <div class="esporte">
        <h2>Esporte</h2>
        <p>O esporte é muito mais do que simplesmente uma atividade física; é uma paixão que transcende culturas, idiomas e fronteiras. Desde os tempos antigos até os dias de hoje, o esporte tem desempenhado um papel fundamental na sociedade, moldando não apenas corpos, mas também mentes e espíritos.</p>
    </div>

    <div class="esporte">
        <h2>Saúde</h2>
        <p>Praticar esportes não só promove um estilo de vida ativo e saudável, mas também traz uma série de benefícios físicos, mentais e sociais que contribuem para o bem-estar geral.</p>
    </div>
</body>
</html>
