<%- include ('./header/cabecalho')%>

    <main>
        <div class="barra">
            <div class="icons">
                <a href=""><img src="/imagens/component 2.png" alt="playlist" class="component"></a>
            </div>
            <div class="icons">
                <a href=""><img src="/imagens/component 3.png" alt="perfil" class="component"></a>
            </div>
            <div class="icons">
                <a href=""><img src="/imagens/component 4.png" alt="treino" class="component"></a>
            </div>
        </div>
    </main>


<%- include ('./footer/rodape')%>
</body>
</html>