<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>


    <div class="titulo">
        <h1>Jazz</h1>
        <p>Explorando o ritmo, a improvisação e a sofisticação do Jazz.</p>
    </div>

    <div class="caixa">
        <h2>Origens</h2>
        <p>O Jazz nasceu nas comunidades afro-americanas no final do século XIX, combinando elementos de música africana com influências europeias.</p>
    </div>

    <div class="caixa">
        <h2>Grandes Nomes</h2>
        <p>De Louis Armstrong a Miles Davis, o Jazz é marcado por músicos visionários que expandiram os limites do gênero com inovações técnicas e expressivas.</p>
    </div>

    <div class="caixa">
        <h2>Impacto Cultural</h2>
        <p>O Jazz não só influenciou outros gêneros musicais como também desempenhou um papel vital na luta pelos direitos civis e na expressão da identidade afro-americana.</p>
    </div>

    <%- include('./footer/footer') %>
    </body>
    </html>