doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title #{title}

body
    header
      br
      h1 HeartEsports
      br
      nav
        ul
          li
            a(href="/") Início
          li
            a(href="/sobreNos") Sobre Nós
          li
            a(href="/contato") Contato
      br

    main
      block content

    footer
      p © 2024 Meu Site. Todos os direitos reservados.

    style.
      
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #c6d4e1;
        }

      header {
        background-color: #44749d;
        padding: 10px 20px;
      }

      header h1 {
        margin: 0;
        font-size: 2.5rem;
        color: white;
        padding: 4px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 10px;
        padding-right: 160px;
      } 

      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      nav ul li {
        display: inline;
        margin-right: 40px;
      }

      nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }

      nav ul li a:hover {
        text-decoration: underline;
      }

      main {
        padding: 20px;
      }

      footer {
        background-color: #44749d;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      footer p {
        color: white;
      }
