<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>

    <br>
    <br>
    <br>

    <div class="titulo">
        <h1>Música</h1>
        <p>Explorando as melodias que definem épocas e emocionam corações.</p>
    </div>
    <br>
    
    <div class="caixa">
        <h2>Origens</h2>
        <p>A história da música remonta aos primórdios da humanidade, quando ritmos simples ecoavam em celebrações e rituais,
        <br>evoluindo ao longo dos séculos para se tornar uma forma de arte universalmente apreciada e estudada.</p>
    </div>

    <div class="caixa">
        <h2>Revoluções Musicais</h2>
        <p>Das composições clássicas dos mestres como Bach e Mozart, até o surgimento do jazz, do rock 'n roll e do hip-hop,
        <br>cada período histórico trouxe inovações que moldaram o panorama musical e influenciaram culturas ao redor do mundo.</p>
    </div>

    <div class="caixa">
        <h2>Impacto Cultural</h2>
        <p>A música transcende barreiras linguísticas e culturais, conectando pessoas e transmitindo emoções de maneiras profundas e significativas.
        <br>Seja como forma de expressão individual ou ferramenta de mudança social, seu poder é inegável e atemporal.</p>
    </div>

    <%- include('./footer/footer') %>
    </body>
    </html>
