<main>

<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>

    <div class="titulo">
        <h1>Pop</h1>
        <p>Explorando a popularidade, a acessibilidade e a diversidade do Pop.</p>
    </div>

    <div class="caixa">
        <h2>Origens</h2>
        <p>O Pop emergiu nas décadas de 1950 e 1960 como uma forma de música comercialmente orientada, projetada para um público amplo e diversificado.</p>
    </div>

    <div class="caixa">
        <h2>Ícones Pop</h2>
        <p>De Michael Jackson a Madonna, os ícones do Pop não apenas dominaram as paradas de sucesso, mas também influenciaram moda, cultura e comportamento.</p>
    </div>

    <div class="caixa">
        <h2>Diversidade Cultural</h2>
        <p>O Pop absorveu elementos de diferentes culturas ao redor do mundo, refletindo uma mistura global de estilos e influências musicais.</p>
    </div>

    <%- include('./footer/footer') %>
</main>
    </body>
    </html>