<main id="reggae">
<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>

    <div class="titulo">
        <h1>Reggae</h1>
        <p>Explorando o ritmo, a mensagem social e a espiritualidade do Reggae.</p>
    </div>

    <div class="caixa">
        <h2>Origens</h2>
        <p>O Reggae teve origem na Jamaica nos anos 1960, combinando influências do ska, do rocksteady e das tradições musicais africanas.</p>
    </div>

    <div class="caixa">
        <h2>Mensagem e Filosofia</h2>
        <p>Artistas como Bob Marley popularizaram o Reggae como uma forma de música protesto e espiritual, promovendo mensagens de amor, paz e justiça social.</p>
    </div>

    <div class="caixa">
        <h2>Influência Global</h2>
        <p>O Reggae transcendeu fronteiras, influenciando gêneros musicais ao redor do mundo e continuando a ser uma voz poderosa para questões sociais e políticas.</p>
    </div>

    <%- include('./footer/footer') %>
</main>
    </body>
    </html>