<%- include('./header/header')%>
<%- include('./acessoM/acesso')%>

    <br>
    <br>
    <br>

    <div class="titulo">
        <h1>Rock</h1>
        <p>Explorando a energia, a rebeldia e a diversidade do Rock 'n Roll.</p>
    </div>
    <br>

    <div class="caixa">
        <h2>Origens</h2>
        <p>O Rock 'n Roll surgiu nos anos 1950 nos Estados Unidos, misturando elementos do blues, do country e do rhythm and blues.</p>
    </div>

    <div class="caixa">
        <h2>Revolução Cultural</h2>
        <p>Com artistas como Elvis Presley e The Beatles, o Rock transformou a cultura jovem, promovendo mudanças sociais e políticas ao redor do mundo.</p>
    </div>

    <div class="caixa">
        <h2>Diversidade e Evolução</h2>
        <p>Do Rock psicodélico dos anos 1960 ao Rock alternativo e grunge dos anos 1990, o gênero continuou a se reinventar, abraçando novas sonoridades e temas.</p>
    </div>

    <%- include('./footer/footer') %>
    </body>
    </html>