extends layout

block content
  h1= title
  p Esta é a página da rotaNova, onde você encontra informações diversas.

  // Conteúdo para a rotaNova
  .conteudo
    h2 Novidades Tecnológicas
    p Confira as últimas novidades em tecnologia que estão transformando o mundo.

  .conteudo
    h2 Receitas Deliciosas
    p Descubra receitas incríveis para impressionar seus amigos e familiares.

  .conteudo
    h2 Dicas de Viagem
    p Explore destinos incríveis e obtenha dicas valiosas para suas próximas viagens.

  // Estilos CSS inline para exemplo
  style.
    h1 {
      color: #333;
    }
    .conteudo {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    h2 {
      color: #333;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: #666;
    }
