<%- include('./header/header')%>

    <br>
    <br>
    <br>

    <div class="titulo">
        <h1>Rugby</h1>
        <p>Aqui você encontrará informações sobre a rugby.</p>
    </div>
    <br>
    <div class="caixa">
        <h2>Origens do Rugby</h2>
        <p>O rugby teve suas origens na Inglaterra no século XIX, derivando do futebol (soccer).
        <br>A história conta que o rugby foi criado após um jogador de futebol ter pego a bola com a mão e corrido em direção ao gol.</p>
    </div>
    <div class="caixa">
        <h2>Expansão e Variações</h2>
        <p>O rugby se expandiu para diferentes partes do mundo, resultando em variações como o rugby de sete jogadores (sevens) e o rugby league.</p>
    </div>

    <div class="caixa">
        <h2>Rugby Union e Rugby League</h2>
        <p>O rugby se dividiu em duas formas principais: o Rugby Union, que é mais popular internacionalmente e segue regras mais tradicionais,
        <br>e o Rugby League, mais difundido na Austrália e em partes da Europa.</p>
    </div>

    <%- include('./footer/footer')%>
</body>
</html>
