<%- include ('./header/cabecalho')%>

<main>
    <div id="sobreNos">
        <p id="sobre">Somos um grupo de alunos composto pelo estudante Eduardo Ferraz e Daniel Ferraz.
        <br>Somos os criadores e programadores do projeto “BeatSync” e frequentamos
        <br>o Instituto Federal Catarinense de Sombrio.</p>
    </div>
</main>

<%- include ('./footer/rodape')%>