<%- include('./header/header')%>

<main>
    <br>
    <br>
    <br>

    <div class="titulo">
        <h1><%= title %></h1>
    </div>
    <br>
    <div class="caixa">
        <h2>Quem Somos</h2>
        <p>Esta página web foi criada por um aluno do Instituto Federal Catarinense e fala sobre música e esportes.
        <br>Ela explora como essas duas paixões universais impactam nossas vidas, moldando culturas, promovendo saúde
        <br>e unindo pessoas ao redor do mundo.</p>
    </div>
    
    <div class="caixa">
        <h2>Nosso Compromisso</h2>
        <p>Estamos comprometidos em oferecer conteúdos precisos, interessantes e inspiradores sobre música e esportes
        <br>para entusiastas de todas as idades. Valorizamos a autenticidade e a qualidade das informações que compartilhamos,
        <br>promovendo uma experiência enriquecedora para nossos leitores.</p>
    </div>

    <div class="caixa">
        <h2>Nossos Serviços</h2>
        <p>Oferecemos uma variedade de serviços, incluindo:</p>
        <ul>
            <li>Palestras e workshops sobre curiosidades esportivas e musicais</li>
            <li>Publicação de artigos e conteúdos online</li>
            <li>Consultoria para projetos relacionados a música, esportes e entretenimento</li>
        </ul>
    </div>

    <%- include('./footer/footer')%>
</main>
</body>
</html>
    
