<%- include('./header/header')%>

    <h1>Sobre Nós</h1>
    <p>Sobre Nós</p>

    <div class="sobre">
        <h2>Quem Somos</h2>
        <p>Somos uma equipe apaixonada por esportes e fascinada por curiosidades esportivas. Nosso objetivo é compartilhar histórias únicas e detalhes fascinantes sobre diversos esportes ao redor do mundo.</p>
    </div>

    <div class="sobre">
        <h2>Nosso Compromisso</h2>
        <p>Estamos comprometidos em oferecer conteúdos precisos, interessantes e divertidos para entusiastas de esportes de todas as idades. Valorizamos a autenticidade e a qualidade das informações que compartilhamos.</p>
    </div>

    <div class="sobre">
        <h2>Nossos Serviços</h2>
        <p>Oferecemos uma variedade de serviços, incluindo:</p>
        <ul>
            <li>Palestras e workshops sobre curiosidades esportivas</li>
            <li>Publicação de artigos e conteúdos online</li>
            <li>Consultoria para projetos relacionados a esportes e entretenimento</li>
        </ul>
    </div>

    <%- include('./footer/footer')%>
</body>
</html>
    
