<%- include ('./header/cabecalho')%>

<main>
    <div id="sobreNos">
        <img src="/imagens/image 4.png" alt="Sobre Nós" id="imgSobreNos">
        <p id="">Somos um grupo de alunos composto pelo estudante Eduardo Ferraz e Daniel Ferraz.
        <br>Somos os criadores e programadores do projeto “BeatSync” e frequentamos
        <br>o Instituto Federal Catarinense de Sombrio.</p>
    </div>

</main>

<%- include ('./footer/rodape')%>