<%- include('./header/header')%>
    
    <h1>Volei</h1>
    <p>Aqui você encontrará informações sobre a .</p>

    <div class="historia">
        <h2>Origens do Vôlei</h2>
        <p>O vôlei foi criado em 1895 nos Estados Unidos por William G. Morgan, como uma alternativa menos violenta ao basquete, mas com o mesmo objetivo de proporcionar atividade física e diversão.</p>
    </div>

    <div class="historia">
        <h2>Expansão e Popularidade</h2>
        <p>O vôlei ganhou popularidade rapidamente em todo o mundo, especialmente após ser incluído nos Jogos Olímpicos de Verão em 1964. O esporte é conhecido pela sua dinâmica rápida e emocionante.</p>
    </div>

    <div class="historia">
        <h2>Ligas Profissionais e Torneios Internacionais</h2>
        <p>O vôlei possui ligas profissionais em diversos países e competições internacionais de alto nível, como o Campeonato Mundial e a Liga das Nações de Vôlei.</p>
    </div>

    <%- include('./footer/footer')%>
</body>
</html>
    