

body {
    background-image: linear-gradient(black, grey);
}

.titulo {
    color: white;
    margin: 40px;
    text-align: center;
}

.caixa {
    color: white;
    margin: 20px;
}

footer {
    padding: 30px;
    display: flex;
    justify-content: end;
}

footer img {
    height: 12vh;
    margin: 10px;
}