
<br>
<br>
<br>
<footer>
    <div class="foot">
        <a href="/"><img src="/stylesheets/whatsapp.png"></a>
        <a href="/"><img src="/stylesheets/instagram.png"></a>
        <a href="/"><img src="/stylesheets/facebook.png"></a>
    </div>
</footer>