

<footer>
    <div class="foot">
        <a href=""><img src="/imagens/whatsapp.png" alt="Whatsapp" id="redes"></a>
        <a href=""><img src="/imagens/instagram.png" alt="Instagram" id="redes"></a>
        <a href=""><img src="/imagens/facebook.png" alt="Facebook" id="redes"></a>
    </div>
</footer>